.header {
    display: flex;
    justify-content: center;
}

.header-text {
    border: 1px;
    border-radius: 4px;
    color: white;
    font-size: 50px;
    background-color: red;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 25px;
}
